.log
.idea
Projekt_DB.iml
.idea/libraries
.idea/vcs.xml
.idea/modules.xml
.idea/workspace.xml
.idea/encodings.xml
.idea/gradle.xml
.idea/compiler.xml
.idea/.name
.idea/scopes
.idea/copyright
.idea/misc.xml
.idea/copyright/profiles_settings.xml
.idea/libraries/Gradle__junit_4_11.xml
.idea/libraries/Gradle__hamcrest_core_1_3.xml
transaction.log
gradlew.bat
/.nb-gradle/private/
/out/
/hs_err_pid10738.log
/replay_pid10705.log